extends layout

block content
  h1= title
  p Welcome to Never Ending Poem. We are making some changes and will be back. Hopefully, soon.
  div(id="app-container")

  script(src="/js/vendors.js" type="text/javascript")
  script(src="/js/app.js" type="text/javascript")
