doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Never Ending Poem | One man's dream, populated by many

    script(src="https://use.fontawesome.com/ee022951dc.js")
    - if (env !== 'development') {
    link(href="/static/style.css" rel="stylesheet")
    - }
  body
    block content
