@import (css) "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import (css) "../css/font-awesome.css";
@import "./responsive-resets";

body {
  .header {
    text-align: center;
    padding: 20px 20px 0 20px;
    background-color: #11AD9B;
		color: #fff;
    position: relative;

    .logo {
      vertical-align: middle;
      display: inline-block;
      width: 46px;
      height: 78px
    }

    .heading-text{
      padding: 20px;
      vertical-align: middle;
      display: inline-block;
    }

    .dropdown-container {
      position: absolute;
      top: 10px;
      left: 10px;
      display: inline-block;
      vertical-align: middle;
    }

		.header-section {
			margin: 0 auto;
			text-align: center;
		}
  }

  .tab-container {
		display: inline-block;
		.nav-tabs {
			border-width: 0;
			li {
				margin-bottom: -5px;
				a {
					color: #fff;
					&:hover {
						background-color: #11AD9B !important;
						color: #fff !important;
					}
				}
				&.active {
					a {
						background-color: #fff !important;
						color: #11AD9B !important;
					}
				}
			}
		}
  }

  .app-section {
    .tab-content-section {
      padding: 10px;

      .verse-container {

        .verse-line {
          padding: 5px;
          text-align: center;
        }

        .first-line {
          background-color: #dcdcdc;
        }

        .second-line {
          background-color: #efefef;
        }
      }

      .add-verse-container {

        margin-top: 40px;
        text-align: center;

        .verse-input {
          display: block;
          padding: 5px 2px;
          margin: 5px auto;
          max-width: 500px;
          width: 100%;
        }
      }
    }
  }

	.footer {
		background-color: #292929;
		color: #d5d5d5;
		padding: 15px;

		h2 {
			font-size: 15px;
			margin-top: 0px;
		}
	}
}

@media all and (max-device-width: 767px) {
  body {
    font-size: 36px;
  }

  .tab-container{
    display: none !important;
  }
}

@media all and (min-device-width: 768px) {
  .dropdown-container {
    display: none !important;
  }
}
