
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.button {
  border-radius: 4px;
  border: 1px solid #fff;
  padding: 6px 12px;
  color: #fff;
  background-color: #116F8F;
  display: inline-block;
}

.error {
  color: red;
}

.centered {
  text-align: center;
}

.app-section {
  margin: 0 auto;
}

@media all and (max-device-width: 767px) {
  .app-section{
    width: auto;
  }

  p {
    font-size: 18px;
  }

}

@media all and (min-device-width: 768px) {
  .app-section {
    width: 750px;
  }

}
